name: Push-to-EC2-LightSaild

# Trigger deployment only on push to master branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Ec2 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git Repo Code.
        uses: actions/checkout@v2

      - name: Deploy to Jerry - LightSail
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.AWS_KEY }}
          REMOTE_HOST: ${{ secrets.AWS_HOST }}
          REMOTE_USER: ${{ secrets.AWS_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}  

      - name: Building the App on Remote Server 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_KEY }}
          script: | 
            # ls -al /home/ubuntu/next-js
            chown -R ubuntu:ubuntu /home/ubuntu/next-js
            # sh /home/ubuntu/next-js/deploy.sh
            echo "Kill all the running PM2 actions"
            pm2 kill
            echo "Install app dependencies"
            rm -rf node_modules package-lock.json
            cd /home/ubuntu/next-js 
            yarn
            echo "Build your app"
            nvm use v12.22.11
            yarn build  


